@charset "utf-8";


* {
    box-sizing: border-box;
}

h2,
h3,
p {
  font-weight: normal;
}


.body{
  background-color: rgb(252, 252, 252);
}
.header-line{
    width: 100%;
    height: 6px;
    border: 6px solid rgb(52, 174, 223);
}

.top-image{
  transition-duration: .3s;
}

.top-image:hover{
   opacity: .7;
   transform: scale(1.05);
}

.header-area{
  width: 75%;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 12px;
  padding-top: 60px;
  position: relative;
}

.header-sub-title {
  margin-top: 4px;
}

.header-tel{
  position: absolute;
  top: 22px;
  right: 12px;
  font-size: 17px;
}

.fa-phone {
  color: rgb(63, 190, 240);
  margin-right: 6px;
}

.menu-button {
  display: none;
}

/* mainここから */

.main-contents{
  display: flex;
  width: 85%;
  max-width: 1000px;
  margin: 70px auto;
}

aside{
  min-width: 220px;
}

.fa-angle-right {
  margin-right: 6px;
  color: orange;
}

.fa-circle{
  margin-right: 8px;
  color: rgb(63, 190, 240);
  font-size: 5px;
}

.page-menu{
  border-radius: 8px;
  border: 1px solid rgb(0, 168, 235);
  background-color: white;
}

.page-menu-lists{
  width: 70%;
  margin: 10px auto;

}

.page-menu-list{
  line-height: 3.5;
  border-bottom: 1px dotted rgb(63, 190, 240);
  font-size: 15px;
}

.page-menu-list:last-of-type{
  border-bottom: none;
}

.page-menu-bottom-content{
  width: 70%;
  margin: 0 auto;
}

.page-menu-bottom-content:first-of-type{
  padding-bottom: 16px;
}

.schedule{
  background-color: white;
  width: 100%;
  line-height: 3.5;
  border: 1px dotted rgb(0, 168, 235);
  border-radius: 8px;
  font-size: 15px;
  margin-top: 20px;
  padding-bottom: 24px;
}

.counter{
  width: 100%;
  background-color: white;
    border: 1px dotted rgb(0, 168, 235);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 20px;
}

.counter h3 {
  margin-top: 12px;
  padding-bottom: 12px;
}

.counter p:first-of-type {
  margin-top: 20px;
}

.mobile-link{
  width: 100%;
  background-color: white;
    line-height: 3.5;
    border: 1px dotted rgb(0, 168, 235);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 20px;
}

.qrimage{
  width: 70%;
  margin-top: 16px;
}

.side-menu-title{
  border-bottom: 1px dotted rgb(63, 190, 240);
}

/* main-menuここから */

.main-menu{
  margin-left: 60px;
  width: 70%;
  min-width: 600px;
}

.main-image-area{
  width: 100%;
  height: 440px;
}

.main-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.concept{
  background-color: white;
  border-radius: 8px;
  border: 1px dotted rgb(0, 168, 235);
  padding: 20px 20px 0px 20px;
  margin-top: 80px;
  margin-bottom: 20px;
  width: 750px;
  max-width: 100%;
}

.concept h2 {
  padding: 10px 20px 10px 20px;
  border-left: 4px solid rgb(0, 168, 235);
}

.main-menu-border{
  border-bottom: 1px dotted rgb(0, 168, 235);
  margin-top: 12px;
  margin-bottom: 12px;
}


.concept p {
   margin: 24px 0;
}

.info{
  background-color: white;
  border-radius: 8px;
  border: 1px dotted rgb(0, 168, 235);
  padding: 20px 20px 0px 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 750px;
  max-width: 100%;
}

.info h2 {
  padding: 10px 20px 10px 20px;
  border-left: 4px solid rgb(0, 168, 235);
}

.fa-pipe {
  color: black;
}

.info-content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.date{
  margin-right: 20px;
  color: rgb(63, 190, 240);
}

/* footer ここから */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(63, 190, 240);
  color: white;
}

.footer-image-area img{
  transition-duration: .3s;
}

.footer-image-area img:hover {
  opacity: .7;
  transform: scale(1.05);
}

.footer-menu-lists{
  display: flex;
  margin-bottom: 45px;
}

.footer-menu-list {
  margin-right: 16px;
}

.footer-image-area {
  margin: 45px 0;
}

.fa-brands {
  color: white;
  font-size: 40px;
}

.fa-twitter{
  margin-right: 4px;
}

.fa-facebook{
  margin-left: 4px;
}

.footer-tel{
  visibility: hidden;
}

.copy-right{
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 30px;
}

@media (max-width:1000px ){
  .header-area{
    display: block;
    text-align: center;
    padding-top: 30px;
  }

  .header-tel{
    display: none;
  }
  
    .main-image-area {
      height: auto;
    }

  .main-contents{
    display:flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .main-menu{
      width: 95%; 
      margin-left: auto;
      margin-right: auto;
  }

  .main-image-area{
    margin: 0 auto;
    width: 100%;
    height: 420px;
  }

  .main-contents{
    margin-top: 35px;
  }

  .main-image{
    display: block;
    height: 100%;
    width: 100%;
  }

  .concept{
    width: 100%;
    min-width: 700px;
    margin: 16px auto;
  }

  .info {
    width: 100%;
    margin: 16px auto;
  }

  .aside {
    width: 95%;
    margin: 0 auto;
  }

  .page-menu {
    display: none;
  }

 .page-menu-bottom-content{
   margin-right: auto;
   margin-left: 0;
   padding-left: 16px;
   width: 98%;
 }

  .page-menu-bottom-content:last-of-type{
    padding-bottom: 0;
  }

 .qrimage-area{
  width: 20%;
 }

 .counter p:last-of-type{
   padding-bottom: 4px;
 }

 .menu-button {
  display: inline-block;
  background-color: rgb(63, 190, 240);
  width: 45%;
  line-height: 2.5;
  color: white;
  border-radius: 2px;
  margin-top: 30px;
 }

 .footer-image-area{
  display: none;
 }

 .footer-menu {
  display: none;
 }

 .footer-tel{
  visibility: visible;
  margin-top: 45px;
 }

  .footer-tel-number {
    font-size: 20px;
    margin-top: 8px;
  }

  .footer-tel-name{
    text-align: center;
  }

 .sns-link{
  padding-top: 30px;
 }

}

@media (max-width:600px){

  .main-contents {
    width: 95%;
  }

  .main-menu {
    width: 100%;
    min-width: 0;
  }

  .aside {
    width: 100%;
  }

  .top-image {
    width: 100%;
  }

  .main-image-area {
    height: auto;
    width: 100%;
  }

  .main-contents p {
    font-size: 12px;
    line-height: 1.5;
  }

  .main-contents h2 {
    font-size: 14px;
    padding: 4px 10px;
  }

  .concept {
    width: 100%;
    min-width: 95%;
  }

  .info {
    width: 100%;
  }

  .concept p {
    margin: 12px 0;
  }

  .info-content {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .footer-tel-name{
    font-size: 12px;
  }

  .footer-tel-number {
    font-size: 16px;
  }

  .sns-link {
    padding: 18px 0;
  }

  .fa-brands{
    font-size: 28px;
  }

  .copy-right {
    margin: 20px 0;
    font-size: 8px;
  }
}
